@font-face {
  font-family: Anjoman;
  font-weight: 400;
  src:url('./AnjomanFaNum-Black.ttf');
  font-display:swap;
  }   
  @font-face {
   font-family: Anjoman;
   font-weight: bold;
   src:url('./AnjomanFaNum-ExtraBold.ttf');
   font-display:swap;
  }
  @font-face {
   font-family: Anjoman;
   font-weight: 100;
   src:url('./AnjomanFaNum-ExtraLight.ttf');
   font-display:swap;
  }
  @font-face {
   font-family: Anjoman;
   font-weight: bold;
   src:url('./AnjomanFaNum-Heavy.ttf');
   font-display:swap;
  }
  @font-face {
   font-family: Anjoman;
   font-weight: bold;
   src:url('./Anjoman-SuperHeavy.ttf');
   font-display:swap;
  }
  @font-face {
   font-family: Anjoman;
   font-weight: normal;
   src:url('./AnjomanFaNum-Medium.ttf');
   font-display:swap;
  }
  @font-face {
   font-family: Anjoman;
   font-weight: bold;
   src:url('./AnjomanFaNum-SemiBold.ttf');
   font-display:swap;
  }
  @font-face {
   font-family: Anjoman;
   font-weight: 200;
   src:url('./AnjomanFaNum-Thin.ttf');
   font-display:swap;
  }
  @font-face {
   font-family: Anjoman;
   font-weight: bold;
   src:url('./AnjomanFaNum-UltraBold.ttf');
   font-display:swap;
  }