.inputcss-pl {
    background: #fff;
    box-shadow: 0 0 0 1px #aaa;
    width: 100%;
    padding: 12px;
    border-radius: 12px;
    transition: 0.4s ease;
    color: #242424;

    &:focus {
        box-shadow: 0 0 0 4px #005974;

        &.error {
            box-shadow: 0 0 0 4px #da0000;
        }
    }
}

.hover-b {
    transition: 0.1s ease;
    cursor: pointer;
    border-width: 1.6px;



    &.active {
        transition: 0.5s ease;
        color: #005974;
        background: #0059740c;
        border-color: #005974;
    }

    &:hover {
        color: #005974;
        background: #0059740c;
        border-color: #0059742a;
    }

    @media (max-width:1024px) {
        &.active {
            transition: 0.5s ease;
            color: #232323;
            background: #ffff;
            border-color: #eee;
        }
    }
}

.anClick {
    transition: 0.16s ease !important;

    &:active {
        transform: scale(0.98);
    }
}

.bton {
    font-weight: bold;

    &.active {
        border-color: #234fef;
        color: #234fef;
        background: rgba(23, 61, 201, 0.041);
    }

    &.show {
        border-color: #23ef23;
        color: #23ef23;
        background: rgba(23, 61, 201, 0.041);
    }

    &.disabled {
        border-color: #ef2323;
        color: #ef2323;
        background: rgba(201, 23, 23, 0.041);
    }
}

#tabel-j {
    transition: 0.3s ease;
    transform: scale(0);
    padding: 0;
    width: 0 !important;
    opacity: 0;
}

.table_r {
    transition: 0.3s ease;

    #tabel-j {
        transition: 0.3s ease;
        padding: 10px;
        opacity: 1;
        transform: scale(1);
        width: 100% !important;
    }

    #list-j {
        transition: 0.3s ease;
        width: 0;
        opacity: 0;
        transform: scale(0);
    }

    #box-j {
        transition: 0.3s ease;
        margin-right: auto;
    }
}

$color: #111;
$primary: #FFAB9D;

.cta {
    position: relative;
    margin: auto;
    padding: 19px 22px;
    transition: all .2s ease;

    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        border-radius: 28px;
        background: rgba($primary, .5);
        width: 56px;
        height: 56px;
        transition: all .3s ease;
    }

    span {
        position: relative;
        font-size: 16px;
        line-height: 18px;
        font-weight: 900;
        letter-spacing: .25em;
        text-transform: uppercase;
        vertical-align: middle;
    }

    svg {
        position: relative;
        top: 0;
        margin-left: 10px;
        fill: none;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke: $color;
        stroke-width: 2;
        transform: translateX(-5px);
        transition: all .3s ease;
    }

    &:hover {
        &:before {
            width: 100%;
            background: rgba($primary, 1);
        }

        svg {
            transform: translateX(0);
        }

        &:active {
            transform: scale(.96);
        }

    }
}

.T_btn {
    transition: 0.5s ease !important;

    &.select {
        width: 90%;
        transition: 0.5s ease !important;
        position: absolute;
        background: #fff;
        right: 5%;
        top: 5%;
        height: 90%;
        z-index: 10;
        border: 0;
        animation: zoom-s 0.3s ease !important;

        &.time {
            span {
                display: none;
            }
        }

        &:active {
            transform: scale(1) !important;
        }
    }
}

@keyframes zoom-s {
    from {
        top: -1000px;
    }

    to {
        top: 0;
    }
}

.alert-s {
    background: aquamarine;
    border-radius: 10px;
    font-size: 14px;
    margin-top: 20px;
}

@media (max-width:1024px) {
    .btn-tb {
        min-width: 160px;
    }

    .tb-d {
        margin-bottom: 30px;
        height: 100%;
        flex-direction: row;
        width: 100%;
        overflow: auto;
        overflow-y: hidden;
    }
    .jb-ds {
        height: 70%;
    }
    .nh_ns {
        height: 500px;
    }
}