@import url("../public/fonts2/font.css");
@import url("../public/tailwind.css");

html,
body {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  background: #fff;
  color: #000;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  /* width */
  &::-webkit-scrollbar {
    width: 11px;
  }
  
  /* Track */
  &::-webkit-scrollbar-track {
    border-radius: 10px;
    background: #fff;
  }
  
  /* Handle */
  &::-webkit-scrollbar-thumb {
    border: 2px solid #fff;
    background: #ccc;
    border-radius: 10px;
    &:hover {
      background: #aaa;
    }
  }
}

a {
  color: inherit;
  text-decoration: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

* {
  box-sizing: border-box;
  font-family: IRANSans;
  outline: none;
  padding: 0;
  margin: 0;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

*[hidden] {
  display: none !important;
}

.loaded {
  opacity: 1;
  animation: loaded 0.6s ease;
}

.box_sect1 {
  // animation: boxAn 1s ease;
}

.container-pl {
  width: 90%; 
  max-width: 1444px;
  margin: auto;
}

@media (max-width:960px) {
  .container-pl {
    width: 100%;
  }
}

#comment-s {
  .swiper-wrapper {
    left: 34%;
  }
}

@media (max-width:1024px) {
  #comment-s {
    .swiper-wrapper {
      left: 11%;
    }
  }
}

.costom-Card-commnet {
  box-shadow: 0px 1.06px 30px -10px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}

.bg-sec3 {
  background: url('../public/img/bs3.jpg');
}

.menu-fo {
  li {
    transition: 0.3s ease;

    &:hover {
      transform: scale(1.02) translateX(-10px);
      color: #007aff;
      list-style: disc;
    }
  }
}

.card-sds {
  width: calc(285px - 32px);
}

.soialmedia {
  a {
    transition: 0.4s ease;
    cursor: pointer;
    color: #007aff;
  }

  a:nth-child(3):hover {
    color: red;
    transform: scale(1.2);
  }

  a:nth-child(2):hover {
    color: aqua;
    transform: scale(1.2);
  }

  a:nth-child(1):hover {
    color: purple;
    transform: scale(1.2);
  }
}

@keyframes loaded {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes boxAn {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #005974;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}

.scds::placeholder {
  direction: rtl !important;
  text-align: right;
}

.btnsd {
  display: flex;
  justify-content: center;
  align-items: center;
  svg {
    width: 28px;
    height: 28px;
    transition: 0.2s ease;
  }
  span {
    opacity: 0;
    font-size: 0;
    transition: 0.2s ease;
    margin-right: 0;
  }
  &:hover {
    svg {
      width: 20px;
      height: 20px;
    }
    span {
      margin-left: 0.25rem;
      opacity: 1;
      font-size: 12px;
    }
  }
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
