@import url("../public/font/anjoman/index.css");
@import url("../public/tailwind.css");

:root {
  --scale:1;
}

html,
body {
  padding: 0;
  margin: 0;
  height: 100vh;
  background: #fff;
  color: #000;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  /* width */
  &::-webkit-scrollbar {
    width: 11px;
  }

  .rtl-grid {
    direction: rtl;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    border-radius: 10px;
    background: #fff;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    border: 2px solid #fff;
    background: #ccc;
    border-radius: 10px;

    &:hover {
      background: #aaa;
    }
  }
}

#gthjs,
#gthjs *,
#bios {

  /* width */
  &::-webkit-scrollbar {
    width: 9px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    margin: 10px;
    border-radius: 10px;
    background: #fff;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    border: 2px solid #fff;
    background: #a2b6ff;
    border-radius: 10px;

    &:hover {
      background: #aaa;
    }
  }
}

a {
  color: inherit;
  text-decoration: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

* {
  box-sizing: border-box;
  font-family: Anjoman;
  scroll-behavior: smooth;
  outline: none;
  padding: 0;
  margin: 0;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

*[hidden] {
  display: none !important;
}

.loaded {
  opacity: 1;
  animation: loaded 0.6s ease;
}

.box_sect1 {
  // animation: boxAn 1s ease;
}

.container-pl {
  width: 90%;
  max-width: 1444px;
  margin: auto;
}

@media (max-width:960px) {
  .container-pl {
    width: 100%;
  }
}

#comment-s {
  .swiper-wrapper {
    left: 34%;
  }
}

@media (max-width:1024px) {
  #comment-s {
    .swiper-wrapper {
      left: 11%;
    }
  }
}

.costom-Card-commnet {
  box-shadow: 0px 1.06px 30px -10px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}

.bg-sec3 {
  background: url('../public/img/bs3.jpg');
}

.menu-fo {
  li {
    transition: 0.3s ease;

    &:hover {
      transform: scale(1.02) translateX(-10px);
      color: #007aff;
      list-style: disc;
    }
  }
}

.card-sds {
  width: calc(285px - 32px);
}

.soialmedia {
  a {
    transition: 0.4s ease;
    cursor: pointer;
    color: #007aff;
  }

  a:nth-child(3):hover {
    color: red;
    transform: scale(1.2);
  }

  a:nth-child(2):hover {
    color: aqua;
    transform: scale(1.2);
  }

  a:nth-child(1):hover {
    color: purple;
    transform: scale(1.2);
  }
}

@keyframes loaded {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes boxAn {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #005974;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}

.scds::placeholder {
  direction: rtl !important;
  text-align: right;
}

.btnsd {
  display: flex;
  justify-content: center;
  align-items: center;
  @media (max-width:1024px) {
    display: none !important;
  }

  svg {
    width: 28px;
    height: 28px;
    transition: 0.2s ease;
  }

  span {
    opacity: 0;
    font-size: 0;
    transition: 0.2s ease;
    margin-right: 0;
  }

  &:hover {
    svg {
      width: 20px;
      height: 20px;
    }

    span {
      margin-left: 0.25rem;
      opacity: 1;
      font-size: 12px;
    }
  }
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(24px, 0);
  }
}

// THE LOADING EFFECT
.skeleton {
  background-color: #eee;
  // The shine that's going to move across the skeleton:
  background-image:
    linear-gradient(90deg,
      rgba(#fff, 0),
      rgba(#fff, 0.5),
      rgba(#fff, 0));
  background-size: 40px 100%; // width of the shine
  background-repeat: no-repeat; // No need to repeat the shine effect
  background-position: left -40px top 0; // Place shine on the left side, with offset on the left based on the width of the shine - see background-size
  animation: shine 1s ease infinite; // increase animation time to see effect in 'slow-mo'
}

@keyframes shine {
  to {
    // Move shine from left to right, with offset on the right based on the width of the shine - see background-size
    background-position: right -40px top 0;
  }
}

.show_ani {
  animation: show_in 0.3s ease;
}

.show_active {
  transition: 0.2s ease;

  &:active {
    transform: scale(0.9);
  }
}

@keyframes show_in {
  from {
    transform: scale(0.8);
  }

  to {
    transform: scale(1);
  }
}

.show_move-a {
  // animation-name: show_move-a;

}

@keyframes show_move-a {
  from {
    opacity: 0;
    transform: translateX(150px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

:where(.table *:first-child) :where(*:first-child) :where(th, td):last-child {
  border-top-right-radius: 0;
  border-top-left-radius: 0.5rem;
}

:where(.table *:first-child) :where(*:first-child) :where(th, td):first-child {
  border-top-left-radius: 0;
  border-top-right-radius: 0.5rem;
}

.DatePicker__calendarArrow {
  display: none;
}

.DatePicker__calendarContainer.-top {
  position: fixed !important;
  right: auto !important;
  left: 50% !important;
  bottom: auto !important;
  top: 50% !important;
  transform: translate(-50%, -50%) !important;
  box-shadow: 0 0 0 1050px #00597416;
  border-radius: 20px;
}

.DatePicker {
  width: 100%;

  input {
    padding: 12px;
  }
}

.swiper-pagination-bullet {
  width: 15px !important;
  height: 15px !important;
  transition: 0.3s ease;
}

.swiper-pagination-bullet-active {
  background: #005974 !important;
  width: 30px !important;
  border-radius: 20px !important;
  height: 15px !important;
}

#pageSect1 {
  transition: 0.3s ease;
  border-radius: 0 0 var(--rounded) var(--rounded);

  .box_sect1 {
    transition: 0.5s ease;
    opacity: var(--scale);
    transform: translate(0%, -50%) scale(var(--scale));
  }
  @media (max-width:1024px) {
    .box_sect1 {
      transform: translate(50%, -50%);
    }
  }
}

.bres {
  li {
    color: #aaa !important;
  }
  li.active {
    color: #242424 !important;
  }
}

.uBtns {
  --progress-upload:0%;
  background: transparent !important;
  border: 2px #005974 solid;
  color: #005974;
  position: relative;
  &:hover {
    background: #00597413 !important;
  }
  &::before {
    position: absolute;
    content: "";
    width: var(--progress-upload);
    height: 100%;
    transition: 0.3s ease;
    background-color: #4f96aba4;
    // The shine that's going to move across the skeleton:
    background-image:
      linear-gradient(90deg,
        rgba(#fff, 0),
        rgba(#fff, 0.5),
        rgba(#fff, 0));
    background-size: 40px 100%; // width of the shine
    background-repeat: no-repeat; // No need to repeat the shine effect
    background-position: left -40px top 0; // Place shine on the left side, with offset on the left based on the width of the shine - see background-size
    animation: shine 1s ease infinite; 
    left: 0;
    top: 0;
  }
}
