.menu {
    position: relative;

    li {
        z-index: 1002;
        border: 1px solid #0000;
        padding: 5px 10px;
        border-radius: 5px;
        transition: 0.28s ease;
        color: #323232;
        background: #0000;
        font-weight: normal;
        transform: scale(1);
        padding-inline: 40px;
        cursor: pointer;
        position: relative;
        &.active {
            a {
                color: #00B6BD;
            }
        }
        &.active::before {
            z-index: 1001;
            content: "";
            position: absolute;
            left: 0;
            top: 49px;
            height: 6px;
            width: 74%;
            left: 50%;
            transform: translateX(-50%);
            border-radius: 8px 8px 0 0;
            transition: 0.3 ease;
            background: #00B6BD;
            animation: dgjg 0.3s ease;
        }
    }

    li:hover {
        // transform: scale(1.12);
        &.active::before {
            // top: 45px;
        }
    }

    span {
        transition: 0.28s ease;
        z-index: 1001;
        position: absolute;
        top: 0;
        background: #eee;
        border: 1px solid #eee;
        height: 40px;
        border-radius: 8px;
    }

    .line {
        transition: 0.28s ease-in;
        z-index: 1001;
        position: absolute;
        top: 49px;
        background: #eee;
        border: 1px solid #eee;
        height: 6px;
        border-radius: 8px 8px 0 0;
    }
}

.auth {
    li {
        background: #0000;
        transition: 0.3s ease;
        padding: 5px 15px;
        
    }

    li:nth-child(2):hover {
        background: #00b7bd0a;
    }
    li:nth-child(1):hover {
        text-decoration: underline;
        font-weight: bold;
        color: #00B6BD;
    }

}

.Section2_Items {
    >div {
        transition: 0.3s ease;
        cursor: pointer;

        &:hover {
            background: #fff;
            box-shadow: 0px 1.145px 32.06px -12.595px #BCE7F1;
            transform: scale(1.02);
            h3 {
                font-weight: bold;
            }
        }
    }
}

.card_section3 {
    >div {
        position: relative;
        transition: 0.6s ease;
        cursor: pointer;

        img {
            transition: 1s ease;
        }

        p {
            position: absolute;
            left: 50%;
            top: 100%;
            transform: translate(-50%, -50%) scale(0);
            z-index: 1002;
            font-size: 25px;
            transition: 0.5s ease-in-out;
        }

        &:hover {
            transform: scale(1.05);

            img {
                opacity: 0.2;
                transform: scale(1.1);
            }

            p {
                top: 50%;
                transform: translate(-50%, -50%) scale(1);
            }
        }

    }
}

.menuRes {
    margin-top: 100px;
    justify-content: center;
    align-items: center;
    padding: 20px;
    li {
        margin-bottom: 20px;
        background: #fff;
        box-shadow: 0 0 0 1px #005974;
        color: #005974;
        width: 100%;
        text-align: center;
        border-radius: 15px;
        transition: 0.2s ease;
        transform: scale(1);
        a {
            padding: 15px;
            display: block;
            width: 100%;
        }
        &.active {
            background: #005974;
            color: #fff;
        }
        &:active {
            transform: scale(0.9);
        }
    }
}

@keyframes dgjg {
    from {
        opacity: 0;
        width: 0;
    }
    to {
        opacity: 1;
        width: 74%;
    }
}